@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

body {
  margin: 0;
  padding: 0;
  font-family: 'Roboto', sans-serif;
}

.container {
  margin-left: auto;
  margin-right: auto;
  max-width: 400px;
}

.App-header {
  background-color: #00bcd4;
  height: 100px;
  padding: 20px;
  color: white;
  margin-bottom: 20px;
}

.counter {
  margin: 20px 0;
}

.mdl-badge {
  margin: 30px;
}
@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

form {
  text-align: center;
  margin-bottom: 20px;
}

button {
  margin-right: 0;
}
